<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
</head>

<style type="text/css">
__CSS__
</style>

<body>

<h1>__TITLE__</h1>
<h2>Choose your nickname</h2>

<div>
<form action=choose.pl method=post>
<input class=button type=text name=nick size=30>
<input class=button type=submit name=submit value="start survey">
</form>
</div>

</body>
</html>
